<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
    colors="true"
    backupGlobals="false"
    bootstrap="./bootstrap.php"
    >
    <testsuites>
        <testsuite name="Viewer3DTest">
            <directory>./Viewer3DTest</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">../src</directory>
            <file>../Module.php</file>
        </include>
    </coverage>
</phpunit>
